
<link rel="stylesheet" href="index.css">
<link rel="stylesheet" href="bootstrap.min.css"></link>
<script src='bootstrap/min.js'></script>

<%- include('../layout/navbar.ejs' ); -%>

    <div>
        <h1>maher </h1>
<h1>Homepage hereeeeeeeeeeee man woman ladys gentelman</h1>


    </div>

    <div id="liveAlertPlaceholder"></div>
    <button type="button" class="btn btn-primary" id="liveAlertBtn">Show live alert</button>


    <script src='bootstrap/min.js'></script>

